modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"
packages = ["espeak-ng", "ffmpeg", "ffmpeg-full", "gcc", "glibc", "jq", "libcxx", "libsndfile", "libstdcxx5", "libxcrypt", "libyaml", "netcat", "ollama", "openssh", "pkg-config", "python3", "sshpass", "xsimd"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 24678
externalPort = 8008

[[ports]]
localPort = 33325
externalPort = 8080

[[ports]]
localPort = 34335
externalPort = 6000

[[ports]]
localPort = 34829
externalPort = 3000

[[ports]]
localPort = 35441
externalPort = 9000

[[ports]]
localPort = 36373
externalPort = 8000

[[ports]]
localPort = 40079
externalPort = 8081

[[ports]]
localPort = 41617
externalPort = 3003

[[ports]]
localPort = 42133
externalPort = 5173

[[ports]]
localPort = 43207
externalPort = 8099

[[ports]]
localPort = 43265
externalPort = 80

[[ports]]
localPort = 44455
externalPort = 3001

[[ports]]
localPort = 44579
externalPort = 3002

[[ports]]
localPort = 45627
externalPort = 4200

[[ports]]
localPort = 45795
externalPort = 6800

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_openai:1.0.0", "javascript_object_storage:1.0.0", "javascript_database:1.0.0", "javascript_log_in_with_replit:1.0.0"]
expertMode = true

[objectStorage]
defaultBucketID = "replit-objstore-c114c7c8-890f-4fe5-abb6-2e5811e3bf92"

[userenv]

[userenv.shared]
JWT_SECRET = "57454a8a83c27451de5d540e698104707dfb01a3876e9508e03fae7293f3c6ee"
KAVENEGAR_API_KEY = "4443364F504142702B4F73456D7248474C4A357937722B7237304D6C4F6C3570"
SMTP_HOST = "smtp.elasticemail.com"
SMTP_PORT = "587"
SMTP_USER = "abit16886@gmail.com"
SMTP_PASSWORD = "3459E7DAC49A6AD36571D21E6B598FEF89D6BECEBD6D9C4877EEEC7C43FFC62ABD5B7F17A153C74E8EB31E0D6D5600DE"
SMTP_FROM = "abit16886@gmail.com"
SMTP_SECURE = "false"
AI_PROVIDER = "openai"
